:root{
    --cor-de-fundo: #d275f7;
    --cor-de-texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
}

header{
    display: flex;
    justify-content: space-evenly;
    color: aqua;
}
img{
    weidth: 30%
}