:root{
    --cor-de-fundo: #d275f7;
    --cor-de-texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
}

header{
    display: flex;
    justify-content: space-evenly;
    color: var(--cor-de-texto);
}
img{
    width: 20%
}