:root{
    --cor-de-fundo: #d49aeb;
    --cor-de-texto: #ffffff;
    --cor-do-cabeçalho: #fadff8;
    --cor-apresentacao: #ffc0fa;
}
body{
    background-color: var(--cor-de-fundo);
}

header{
    display: flex;
    color: var(--cor-de-texto);
    background-color: var(--cor-do-cabeçalho);
    justify-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}
img{
    width: 20%
}

.imagem{
    width: 30%;
}

.apresentacao{
    display: flex;
    background-color: var(--cor-apresentacao);
    border: 2px solid var(--cor-de-texto);
}